body {
    font-family: Arial, sans-serif;
}

#sequenceContainer {
    display: flex;
    flex-wrap: wrap;
}

.shape {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
