body {
    font-family: Arial, sans-serif;
}

#shapeContainer {
    display: flex;
    flex-wrap: wrap;
}

.shape {
    cursor: pointer;
    margin: 5px;
}

/* Additional styling for each shape */
.circle {
    width: 50px;
    height: 50px;
}

.square {
    width: 50px;
    height: 50px;
}

.hex {
    width: 50px;
    height: 50px;
}

.star {
    width: 50px;
    height: 50px;
}

/* Additional styling for user-uploaded shape */
.user {
    width: 50px;
    height: 50px;
    border: 2px solid #FFA07A; /* Light Salmon */
}
